.content-basic{
    display: flex;
    justify-content: space-between;
    border-radius: $borderRadiusCard;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #FFFFFF66;
    max-width: 782px;
    position: absolute;
    right: 0;
    bottom: 116px;
    &__content{
        padding: 30px 110px 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__content-convert,
    &__content-preparatory{
        max-width: 226px;
    }
    &__content-convert{
        font-size: 20px;
    }
    &__content-preparatory{
        text-transform: uppercase;
        opacity: 0.6;
    }
    &__img{
        border-radius: 30px;
    }
    @media(max-width:1279px){
        position: static;
    }
    @media(max-width:900px){
        &__content{
            padding: 50px 42px 50px 30px;
        }
    }
    @media(max-width:767px){
        flex-direction: column;
        &__content{
            gap: 50px;
            flex-direction: row;
        }
        &__img{
            margin: 0 auto;
        }
    }
    @media(max-width:600px){
        &__content{
            flex-direction: column;
        }
    }
    @media(max-width:540px){
        &__img{
            width: 100%;
            height: auto;
        }
    }
    @media(max-width:410px){
        &__content{
            gap: 41px;
        }
    }
}