.preSale{
    padding: clamp(2.563rem, 1.813rem + 3.08vw, 4.063rem) 0 clamp(5rem, 1.25rem + 15.38vw, 12.5rem);
    &__inner{
        display: flex;
        flex-direction: column;
        gap: 137px;
    }
    &__title{
        font-size: clamp(2rem, 1.281rem + 2.95vw, 3.438rem);
        line-height: 1.2;
        letter-spacing: 0;
        text-align: center;
        @extend %neueMachina-800;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    &__items{
        display: flex;
        flex-direction: column;
        &--start{
            gap: 25px;
            flex-basis: 558px;
        }
        &--finish{
            flex-basis: 457px;
        }
    }
    &__item{
        border: 1px solid rgb(255, 255, 255);
        border-radius: 30px;
    }
    &__item-text{
        opacity: 0.6;
        text-align: center;
    }
    &__item-link{
        @extend %link;
        margin: auto auto 0 auto;
    }
    @media(max-width:1023px){
        &__content{
            flex-direction: column;
            gap: 80px;
        }
        &__items--start,
        &__items--finish{
            flex-basis: auto;
        }
        &__items--start{
            gap: 50px;
        }
        &__items--finish{
            gap: 80px;
            align-items: flex-start;
        }
        &__item-link{
            margin: 0 auto;
        }
        &__inner{
            gap: 80px;
        }
    }
    @media(max-width:410px){

    }
}