.team{
    padding: 0 0 clamp(5rem, 1.25rem + 15.38vw, 12.5rem);
    &__inner{
        display: flex;
        flex-direction: column;
        gap: 87px;
    }
    &__title{
        @extend %title;
    }
    &__items{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
    }
    @media(max-width:1200px){
        &__items{
            grid-template-columns: repeat(2,auto);
            justify-content: space-around;
        }
    }
    @media(max-width:767px){
        &__inner{
            gap: 38px;
        }
        // .teamSlider{
        //     display: none;
        // }
        .team__items{
            display: grid;
            grid-template-columns: repeat(1,auto);
            gap: 25px;
        }
    }
    @media(max-width:550px){
        &__items{
            position: relative;
        }
    }
}