//COLORS
$bg-color:linear-gradient(90deg, rgb(33, 9, 85) -11.181%,rgb(3, 2, 40) 103.108%);
$main-color:#fff;
$accent-color:linear-gradient(180.00deg, rgb(129, 58, 208),rgb(32, 27, 108) 100%);
$text-color:#fff;
$title-color:#fff;
$input-color:#000;
$input-colorbg:#000;
$button-color:#fff;
$button-colorbg:linear-gradient(180.00deg, rgb(129, 58, 208),rgb(32, 27, 108) 100%);
$link-color:#fff;
$link-colorbg:linear-gradient(180.00deg, rgb(129, 58, 208),rgb(32, 27, 108) 100%);
//PADDING
$padding-container:0px 15px;
@mixin padding($pt,$pr,$pb,$pl){
    padding:$pt $pr $pb $pl;
}

//CONTAINER
$padding-container:0px 15px;
$maxWidth-container:1170px;

//MIN-HEIGHT
$minHeight-btn:51px;
$minHeight-link:51px;
$minHeight-input:60px;
//BORDER
@mixin border($borderWidth,$borderColor,$borderStyle){
    border:$borderWidth $borderColor $borderStyle;
}
//BORDERRADIUS
$borderRadiusBtn:32px;
$borderRadiusLink:32px;
$borderRadiusInput:30px;
$borderRadiusCard:30px;
@mixin borderRadius($borderRadiusWidth){
    border-radius:$borderRadiusWidth;
}


%rubik-400{
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

%rubik-500{
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

%rubik-700{
    font-family: "Rubik", sans-serif;
    font-weight: 700;
}

%neueMachina-500{
    font-family: "Neue Machina", sans-serif;
    font-weight: 500;
}

%neueMachina-800{
    font-family: "Neue Machina", sans-serif;
    font-weight: 800;
}

%title{
    @extend %neueMachina-500;
    font-size: clamp(2rem, 1.5rem + 2.05vw, 3rem);
    line-height: 1.5;
    letter-spacing: 0%;
    color:$title-color;
    text-transform: uppercase;
}

%text{
    @extend %rubik-400;
    font-size: clamp(1rem, 0.875rem + 0.51vw, 1.25rem);
    line-height: 1.3;
    letter-spacing: 0.2px;
    color:$text-color;
}

%flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

%btn{
    @extend %flexCenter;
    min-height: $minHeight-btn;
    @include padding(0,32px,0,32px);
    @include borderRadius($borderRadiusBtn);
    background: $button-colorbg;
    @extend %rubik-500;
    color:$button-color;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    text-transform: uppercase;
    transition: padding .5s;
    &:active{
        min-height: 45px;
        @include padding(0,28px,0,28px);
    }
}

%link{
    @extend %flexCenter;
    min-height: $minHeight-link;
    @include padding(0,32px,0,32px);
    @include borderRadius($borderRadiusLink);
    background: $link-colorbg;
    @extend %rubik-500;
    color:$link-color;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    text-transform: uppercase;
    transition: padding .5s;
    &:active{
        min-height: 45px;
        @include padding(0,28px,0,28px);
    }
}

// %input{
//     @extend %flexCenter;
//     @include padding(0,20px,0,20px);
//     @include border(1px,red,solid);
//     @include borderRadius($borderRadiusInput);
//     min-height: $minHeight-input;
//     background-color: $input-color;
//     &::placeholder{
//         @extend %text;
//     }
// }

